Source: ltt-control
Section: libs
Priority: extra
Maintainer: Jon Bernard <jbernard@debian.org>
Build-Depends: debhelper (>= 9), libpopt-dev, libxml2-dev,
  liburcu-dev (>= 0.8.4), liblttng-ust-dev (>= 2.6.0~), bison, dh-autoreconf, bash-completion
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/collab-maint/ltt-control.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/ltt-control.git;a=summary
Homepage: http://lttng.org/

Package: lttng-tools
Section: utils
Architecture: amd64 armel armhf i386 mips mipsel powerpc ppc64el s390x
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: babeltrace
Suggests: lttng-modules-dkms
Description: LTTng control and utility programs
 The LTTng project aims at providing highly efficient tracing tools for Linux.
 Its tracers help tracking down performance issues and debugging problems
 involving multiple concurrent processes and threads. Tracing across multiple
 systems is also possible.
 .
 This package provides the unified interface to control both the LTTng kernel
 and userspace (UST) tracers.

Package: liblttng-ctl0
Architecture: amd64 armel armhf i386 mips mipsel powerpc ppc64el s390x
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LTTng control and utility library
 The LTTng project aims at providing highly efficient tracing tools for Linux.
 Its tracers help tracking down performance issues and debugging problems
 involving multiple concurrent processes and threads. Tracing across multiple
 systems is also possible.
 .
 This package provides the control libraries used by lttng-tools.

Package: liblttng-ctl-dev
Section: libdevel
Architecture: amd64 armel armhf i386 mips mipsel powerpc ppc64el s390x
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, liblttng-ctl0 (= ${binary:Version})
Description: LTTng control and utility library (development files)
 The LTTng project aims at providing highly efficient tracing tools for Linux.
 Its tracers help tracking down performance issues and debugging problems
 involving multiple concurrent processes and threads. Tracing across multiple
 systems is also possible.
 .
 This package provides the development files for liblttng-ctl. This allows
 implementing trace control in external applications.
