[Unit]
Description=LTTng session daemon
Documentation=http://lttng.org/docs/#doc-lttng-sessiond

[Service]
EnvironmentFile=-/etc/default/lttng-sessiond
ExecStart=/usr/bin/lttng-sessiond $DAEMON_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
