[Unit]
Description=LTTng session daemon
Documentation=http://lttng.org/docs/#doc-lttng-sessiond

[Service]
ExecStart=/usr/bin/lttng-sessiond

[Install]
WantedBy=multi-user.target
